.header_outer_container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 68px;
  background-color: #141414;
  display: flex;
  align-items: center;
  z-index: 100;
}

.header_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.header_left ul,
.header_right ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header_left ul li {
  color: white;
  margin-right: 20px;
  cursor: pointer;
}

.header_right ul li {
  color: white;
  margin-left: 20px;
  cursor: pointer;
}
